---
import { Picture } from 'astro:assets';
import img from '~/assets/mountains-8314422.svg';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout title="About" description="About this site." currentNav="About">
    <Picture
        class="lg:float-right lg:ml-4 lg:w-2/5"
        src={img}
        formats={['avif', 'webp']}
        alt="mountains"
    />
    <p>除了这些烦恼，我还不算太不幸。最根本的问题，我再说一遍，仍是如何消磨时间。自从我学会了进行回忆，我终于就不再感到烦闷了。</p>
    <p>
        有时，我回想我从前住过的房子，我想象自己从一个角落出发，在房间里走一圈又回到原处，心里历数在每一个角落里见到的物件。开始，很快就数完一遍。但我每来一遍，时间就愈来愈长。因为我回想起了每一件家具，每一件家具上陈设的每一件物品，每一件物品上所有的局部细节，如上面镶嵌着什么呀，有什么裂痕呀，边缘有什么缺损呀，还有涂的是什么颜色、木头的纹理如何呀，等等。同时，我还试着让我的清单不要失去其连贯性，试着不遗漏每一件物品。几个星期之后，单单是数过去房间里的东西，我一数就能消磨好几个钟头。这样，我愈是进行回想，愈是从记忆中挖掘出了更多的已被遗忘或当时就缺乏认识的东西。
    </p>
    <p>
        于是我悟出了，一个人即使只生活过一天，他也可以在监狱里待上一百年而不至于难以度日，他有足够的东西可供回忆，绝不会感到烦闷无聊。从某种意义上来说，这也是一种愉快。
    </p>
</MarkdownLayout>