---
interface Props {
  title: string;
  items: string[];
}

const { title, items } = Astro.props;
---

<aside class="prophet-inline-sidebar not-prose">
  <h3>{title}</h3>
  <ul>
    {items.map(item => <li>{item}</li>)}
  </ul>
</aside>
